{% extends "base.html" %}

{% block content %}
<br>
    {% if booking_success %}
    <em>You have successfully created a booking for this car. Someone from our staff will contact you shortly.</em>
    {% endif %}
    <h2 style="text-align:center ;">{{ object.name|upper }}</h2>
    <img src="{{ car.image.url }}" class="img-fluid" alt="Responsive image">        
    <p>{{ object.description }}</p>
    <p>kshs{{ object.daily_rent }} / day</p>
  <a class ='btn btn-primary btn-sm' href="{% url 'new-booking' car_pk=object.pk %}">Book Now</a>
{% endblock %}