{% extends "base.html" %}

{% block content %}
<br>
<p class ='lead alert alert-success' >Welcome, {{request.user.username}}. Which car are you driving today? </p>
    {% for car in cars %} 
        <div class ='card-body' >
         <img src="{{ car.image.url }}" class="img-fluid" alt="Responsive image">        
        <p class =' lead alert alert-warning' ><a href="{{ car.get_absolute_url }}">{{ car.name }}</a>      starts from 
            Kshs. {{ car.daily_rent }} / day</p>
        </div>
    {% endfor %} 
{% endblock %}